body {
  margin: 0;
  font: normal 12px arial, verdana, tahoma, geneva;
  line-height: 160%;
  color: #000;
  background-color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Terminal Dosis', sans-serif;
  font-size: 2.7em;
  color: #90A3B7;
  padding: 0;
  margin: 0;
  border: 0px solid black;
}

h2 {
  font-family: 'Terminal Dosis', sans-serif;
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 12px 0;
  padding-bottom: 4px;
  border-bottom: dotted 1px #C5CBD0;
  text-align: right;
}

h4 {
  font-family: 'Terminal Dosis', sans-serif;
  font-size: 1.5em;
  padding-bottom: 4px;
  border-bottom: dotted 1px #C5CBD0;
  text-align: right;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  color: #606;
}

h3 {
  font-family: 'Terminal Dosis', sans-serif;
  font-size: 2em;
  padding: 0;
  margin: 0 0 12px 0;
  padding-bottom: 4px;
  border-bottom: dotted 1px #C5CBD0;
  text-align: left;
  color: #606;
}

p {
  margin: 0 0 12px 0;
  padding: 0;
}

a {
  color: #90A3B7;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

table {
  font: normal 1em Arial, Verdana, Tahoma;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  overflow: hidden;
  border-radius: 30px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border: 10px solid #90A3B7;
}


/* IE */

#wrapper {
  width: 1040px;
}

#header-menu {
  clear: both;
  overflow: hidden;
  width: 960px;
}

#header {
  width: 920px;
  height: 174px;
  margin: 20px;
  padding: 0;
}

#header img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
  border: 1px solid gray;
  box-shadow: 4px 4px 2px gray;
}

#content {
  overflow: hidden;
  width: 960px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#footer {
  clear: both;
  width: 960px;
  height: 24px;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #e3dddb;
}

#logo {
  left: 730px;
  top: -20px;
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 201px;
  height: 110px;
  border: 0px solid black;
}

#toggle {
  float: right;
  margin: 0;
}

#toggle a {
  color: #000;
  text-decoration: none;
}

#toggle a:hover {
  color: #660066;
}

#toggle a.aktiv {
  font-weight: bold;
}


/* Menu ----------------------------------------------------------- */

#menu {
  float: left;
  padding-right: 30px;
  position: relative;
  font-family: 'Terminal Dosis', sans-serif;
  font-size: 2em;
  overflow: hidden;
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  border: 0px solid black;
}

#menu li {
  float: left;
  height: 1.5em;
  line-height: 1.2em;
  border-bottom: 0px solid #fff;
}

#menu li a {
  padding: 0 0 0 .5em;
  margin: 0;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid black;
}

#menu li a:hover {
  display: inline;
  color: #606;
}

#menu li a.aktiv {
  color: #90A3B7;
  padding: 0 0 0 .5em;
}


/* Seiteninhalt -------------------------------------------------------------------- */

#inhalt {
  top: 24px;
  position: relative;
  float: left;
  width: 475px;
  margin-bottom: 70px;
  background-color: transparent;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
}


/* leftbar ---------------------------------------------*/

#leftBar {
  top: 20px;
  position: relative;
  float: left;
  width: 190px;
  padding: 0 20px 0 0;
  border: 0px solid #000;
  border-right: solid #C5CBD0 1px;
}

#leftBar ul {
  margin: 9px 0 24px 12px;
  padding: 0;
  list-style: none;
}

#leftBar ul li {
  border-top: 1px solid #C5CBD0;
  color: #878F96;
  display: block;
  font-weight: normal;
  padding: 0.3em 0;
}

#leftBar h2 {
  font: normal 12px arial, verdana, tahoma, geneva;
  color: #90A3B7;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.7em;
  text-decoration: none;
  border-bottom: none;
  text-align: left;
}

#leftBar h4 a:hover {
  color: #660066;
}

#leftBar p {
  color: #666;
}


/* Sidebar ---------------------------------------------*/

#sidebar {
  top: 20px;
  position: relative;
  float: right;
  width: 190px;
  border: 0px solid #000;
  border-left: solid #C5CBD0 1px;
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 20px;
}

#sidebar-contacts-webdesign {
  top: 20px;
  position: relative;
  float: right;
  width: 220px;
  border: 0px solid #000;
  border-left: solid #C5CBD0 1px;
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 40px;
}

#sidebar h4 :hover {
  color: #660066;
}

#sidebar ul {
  margin: 9px 0 24px 12px;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  border-top: 1px solid #C5CBD0;
  color: #878F96;
  display: block;
  font-weight: normal;
  padding: 0.3em 0;
}

#sidebar h2 {
  font: normal 12px arial, verdana, tahoma, geneva;
  color: #90A3B7;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.7em;
  text-decoration: none;
  border-bottom: none;
  text-align: left;
}

#sidebar p {
  color: #666;
}


/* footer ----------------------------------------------------------*/

#footer div {
  height: 24px;
  margin: 0 20px;
}

#footer p {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

#footer p a {
  text-decoration: underline;
  color: #909090;
}

#footer p a:hover {
  color: #000;
}


/* Kontaktformular */

#kontakt {
  width: 460px;
  float: left;
  position: relative;
  margin: -10px 0 10px 0;
  padding: 0;
  border: 0px solid #ae171a;
}

#kontakt p {
  padding: 0;
  margin: 0;
}

#kontaktli {
  font-size: 11px;
  float: left;
  width: 220px;
  margin: 0 20px 10px 0px;
  border: 0px solid black;
}

#kontaktli p {
  padding: 0 0 4px 0;
  margin: 0px;
}

#kontaktre {
  font-size: 11px;
  float: left;
  width: 220px;
  padding: 0;
  margin: 0 0 10px 0;
  border: 0px solid black;
}

#kontaktre p {
  padding: 0 0 4px 0;
  margin: 0px;
}

#preistabelle {
  width: 460px;
  float: left;
  position: relative;
  margin: -10px 0 10px 0;
  padding: 0;
  border: 0px solid #ae171a;
}

.rahmen {
  border: 1px solid #666;
  width: 220px;
  border-radius: 4px 4px 4px 4px;
}

.textarie {
  border: #666 solid 1px;
  width: 460px;
  border-radius: 4px 4px 4px 4px;
}

.check {
  border: 0px;
}

.systemMessage {
  background-color: #fff;
  color: #d30132;
  border: 1px solid #ae171a;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 98%;
}

.inputError {
  color: #000000;
  padding: 1px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d30132;
}

textarea {
  width: 430px;
}


/* ---- preise table ---*/

.preise-table {
  margin-bottom: 1em;
  width: 550px;
  _border-collapse: collapse;
  border: solid 1px #90A3B7;
  border-radius: 4px;
  border-radius: 4px;
}

.preise-table th {
  padding: 1em;
  color: white;
  background-color: #90A3B7;
  letter-spacing: 1.5px;
  text-align: center;
}

.preise-table td {
  padding: 1em;
  _border: solid 1px #90A3B7;
  text-align: left;
}

.border-right-white {
  border-right: solid 1px white;
}

.border-right-color {
  border-right: solid 1px #90A3B7;
}

.border-bottom-color {
  border-bottom: solid 1px #90A3B7;
}

.rounded-tr {
  border-top-right-radius: 4px;
}

.rounded-tl {
  border-top-left-radius: 4px;
}
